<body>
  <div class="overlay"></div>

@if (isUser) {
  @if(reserves.length > 0){
    <h2 class= " reservas mt-5">{{getText('Reservas','Reserves')}} </h2>
    <div class="reserves-container">
      <div class="header">
        <button class="reserve-btn" routerLink="/reserve"> 
          <img src="../../../../images/cita.png" width="30px" height="30px" alt="" style="margin-right:10px">
          {{getText('Reservar Cita','Reserve Quote')}} 
        </button>
      </div>
      <div class="reserves-list">
        @for (reserve of reserves; track reserve.id) {
          <div class="card">
            <div class="card-content">
              <p><i class="bi bi-scissors"></i> <strong> {{getText('Servicio','Service')}}:</strong> {{ reserve.servicio }}</p>
              <p><i class="bi bi-person"></i> <strong> {{getText('Peluquero','Barber')}}:</strong> {{ reserve.peluquero }}</p>
              <p><i class="bi bi-cash"></i> <strong> {{getText('Precio','Price')}}:</strong> {{ reserve.precio }}</p>
              <p><i class="bi bi-calendar"></i> <strong> {{getText('Dia','Day')}}:</strong> {{ reserve.dia }}</p>
              <p><i class="bi bi-clock"></i> <strong> {{getText('Hora','Time')}}:</strong> {{ reserve.hora }}</p>
              <div class="botones"> 
                <button class="eliminar" (click)="deleteReserve(reserve)"  aria-label="Eliminar reserva" (click)="showModal = true">
                  <img src="../../../../images/borrar.png" alt="Eliminar Reserva">
                </button>   
                <button>
                  <img src="../../../../images/editar.png" class="editar" alt="Editar reserva">
                </button> 
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="reserva-vacio  mb-5">
      <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">
        <h3> {{getText('No se ha encontrado ninguna reserva.','No reservations found.')}}  </h3>
        <p> {{getText('Echa un vistazo a la selección que tenemos para ti.','Check out the selection we have for you.')}} </p>
     
        <button class="btn-volver mt-5" routerLink="/reserve">
  
       {{getText('Reservar Ahora','Book Now')}}
  
        </button>
  </div>
  }
} @else {
  
  <div class="alert-warning">
    <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">
    <h2>{{ getText('Debes iniciar sesión para reservar una cita.', 'You must be registered to book an appointment.') }}</h2>
    <button class="alert-btn" (click)="openLoginModal()">{{ getText('Iniciar Sesión', 'Login') }}</button>
  </div>
}
</body>

<app-modal-delete
  [show]="showModal"
  [servicio]="selectedReserve?.servicio ?? ''"
  [fecha]="selectedReserve?.dia ?? ''"
  [hora]="selectedReserve?.hora ?? ''"
  [peluquero]="selectedReserve?.peluquero ?? ''"
  (confirm)="onConfirmReserve()"
  (cancel)="onCancelReserve()">
</app-modal-delete>

<app-modal-login [show]="showLoginModal" (close)="showLoginModal = false"></app-modal-login>
<app-footer></app-footer>