<div class="overlay"></div>
<h2 class=" reservas mt-5">{{getText('Reservas Canceladas ','Cancelled Reserves')}} </h2>

@if (isLoading) {
<div class="loading">
  <div class="spinner"></div>
</div>
} @else if(reservesCancelled.length == 0) {
<div class="reserva-vacio  mb-5">
  <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">
  <h3> {{getText('No se ha encontrado ninguna reserva anulada.','No cancelled reservations found.')}} </h3>
</div>
}
@else if(reservesCancelled.length > 0){
<div class="reserves-container">
  <div class="header">
  </div>
  <div class="reserves-list">
    @for (reserve of reservesCancelled; track reserve.id) {
    <div class="card">
      <p class="reserva-anulada"><i class="bi bi-person"></i> <strong> {{getText('Reserva Anulada por el Id',' Cancelled Reserve By ID')}}:</strong> {{ reserve.usuario_id }} <i class="bi" [ngClass]=" 'bi-eye'" (click)="openUserModal(reserve.usuario_id)" style="cursor: pointer;"></i></p>

      <div class="card-content">

        <p class=""><i class="bi bi-scissors"></i> <strong> {{getText('Servicio','Service')}}:</strong> {{
          reserve.servicio }}</p>
        <p><i class="bi bi-person"></i> <strong> {{getText('Peluquero','Barber')}}:</strong> {{ reserve.peluquero }}
        </p>
        <p><i class="bi bi-cash"></i> <strong> {{getText('Precio','Price')}}:</strong> {{ reserve.precio }}€ </p>
        <p><i class="bi bi-calendar"></i> <strong> {{getText('Dia','Day')}}:</strong> {{ reserve.dia }}</p>
        <p><i class="bi bi-clock"></i> <strong> {{getText('Hora','Time')}}:</strong> {{ reserve.hora }}</p>
        <hr>
        <div class="card-footer">
          <button class="btn btn-danger" (click)="deleteReserveAnulada(reserve.id)"> <i
              class="bi bi-trash"></i></button>
        </div>
      </div>
    </div>
    }

  </div>

</div>
}

<app-footer></app-footer>

<app-modal-user [show]="showLoginModal" [id]="selectedUserId" (close)="showLoginModal = false">
</app-modal-user>