<div class="overlay"></div>

@if(productos.length > 0) {
  <h2 class="mt-5">{{getText('Compras Realizadas', 'Buys')}}</h2>
  <div class="button-container">
    <button class="products-btn" routerLink="/products">{{getText('Mostrar Productos', 'Show Products')}}</button>
  </div>
  <div class="productos-container">
    <div class="productos-list">
      @for (products of productos; track products.id) {
        <div class="card">
          <div class="card-content">
            <div class="image-container">
              <img src="{{products.image}}" alt="{{products.name}}" loading="lazy">
            </div>
            <h3>{{products.name}}</h3>
            <p><strong>{{getText('Precio', 'Price')}}:</strong> {{products.price}}</p>
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <div class="alert-warning">
    <i class="bi bi-exclamation-circle-fill"></i>
    <h2>{{getText('No hay ninguna reserva.', 'No reservations found.')}}</h2>
    <button class="alert-btn" routerLink="/reserve">{{getText('Crear Reserva', 'Create Reserve')}}</button>
  </div>
}