
<div class="overlay"></div>
<div class="signup-container">
    <div class="signup-card">
        <h2>Crear Usuario</h2>
        
        <form [formGroup]="signUpForm"  (ngSubmit)="registrarUsuario()"> 
    ">
            <div class="form-group">
                <input type="text" 
                       formControlName="nombre" 
                       placeholder="Nombre"
                       class="form-input">
                @if (getControl('nombre')?.invalid && getControl('nombre')?.touched) {
                    <small>El nombre es obligatorio y debe tener al menos 2 caracteres.</small>
                }
            </div>

            <div class="form-group">
                <input type="text" 
                       formControlName="apellidos" 
                       placeholder="Apellidos"
                       class="form-input">
                @if (getControl('apellidos')?.invalid && getControl('apellidos')?.touched) {
                    <small>Los apellidos son obligatorios y deben tener al menos 2 caracteres.</small>
                }
            </div>

            <div class="form-group">
                <input type="email" 
                       formControlName="email" 
                       placeholder="Email"
                       class="form-input">
                @if (getControl('email')?.invalid && getControl('email')?.touched) {
                    <small>Por favor, introduce un email válido.</small>
                }
            </div>

            <div class="form-group">
                <input type="tel" 
                       formControlName="telefono" 
                       placeholder="Teléfono"
                       class="form-input">
                @if (getControl('telefono')?.invalid && getControl('telefono')?.touched) {
                    <small>El teléfono debe tener 9 dígitos.</small>
                }
            </div>

            <div class="form-group position-relative mb-4">
                <span 
                  class="password-toggle position-absolute end-0 top-50 translate-middle-y me-3"
                  (click)="togglePasswordVisibility()" 
                  style="cursor: pointer;" 
                  role="button"
                >
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>
                
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                       formControlName="password" 
                       placeholder="Contraseña"
                       class="form-input">
                @if (getControl('password')?.invalid && getControl('password')?.touched) {
                    @if (getControl('password')?.errors?.['required']) {
                        <small>La contraseña es obligatoria.</small>
                    }
                    @if (getControl('password')?.errors?.['minlength']) {
                        <small>La contraseña debe tener al menos 5 caracteres.</small>
                    }
                    @if (getControl('password')?.errors?.['pattern']) {
                        <small>Debe incluir mayúscula, minúscula y número.</small>
                    }
                }
            </div>

            <div class="form-group position-relative mb-4">
                <span 
                  class="password-toggle position-absolute end-0 top-50 translate-middle-y me-3"
                  (click)="togglePasswordVisibility()" 
                  style="cursor: pointer;" 
                  role="button"
                >
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </span>
                
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password"
                       formControlName="confirmPassword" 
                       placeholder="Confirmar Contraseña"
                       class="form-input">
                @if (signUpForm.hasError('passwordsDoNotMatch')) {
                    <small>Las contraseñas no coinciden.</small>
                }
            </div>

            <button type="submit" 
                    class="signup-button"
                    [disabled]="signUpForm.invalid">
                Registrarse
            </button>
        </form>

        <div class="login-section">
            <p>¿Ya tienes una cuenta?</p>
            <button class="login-link" (click)="goToLogin()">
                Iniciar Sesión
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>