<div class="snap-container">
    <!-- Primera sección: Hero -->
    <section >
        <app-carrousel></app-carrousel>
    </section>

    <!-- Segunda sección: Jumbotron -->
    <section >
        <app-jumbotron></app-jumbotron>
    </section>

    <!-- Tercera sección: Servicios -->
    <section >
        <app-services></app-services>
    </section>

    <section >
        <app-rating-service></app-rating-service>
    </section>

    <!-- Cuarta sección: Galería -->
    <section >
        <app-cosmeticos></app-cosmeticos>
    </section>

    <app-chatbot-barber></app-chatbot-barber>

    <app-footer></app-footer>
   
</div>


