<div class="snap-container">
    <!-- Primera sección: Hero -->
    <section >
        <app-carrousel></app-carrousel>
    </section>

    <!-- Segunda sección: Jumbotron -->
    <section >
        <app-jumbotron></app-jumbotron>
    </section>

    <!-- Tercera sección: Servicios -->
    <section >
        <app-services></app-services>
    </section>

    <!-- Cuarta sección: Galería -->
    <section >
        <app-cosmeticos></app-cosmeticos>
    </section>

    
    <app-footer></app-footer>
    <!-- 
    ejemplo de seccion
      <section  class="snap-section" id="section4">
        <app-gallery></app-gallery>
    </section>

    <nav class="scroll-navigation">
        <a (click)="scrollToSection(0)" class="scroll-dot" [class.active]="isCurrentSection('section1')" >
            <span class="section-indicator">Inicio</span>
        </a>
        <a (click)="scrollToSection(1)" class="scroll-dot" [class.active]="isCurrentSection('section2')" >
            <span class="section-indicator">Sobre Nosotros</span>
        </a>
        <a (click)="scrollToSection(2)" class="scroll-dot" [class.active]="isCurrentSection('section3')" >
            <span class="section-indicator">Servicios</span>
        </a>
        <a (click)="scrollToSection(3)" class="scroll-dot" [class.active]="isCurrentSection('section4')">
            <span class="section-indicator">Galería</span>
        </a>
        <a (click)="scrollToSection(4)" class="scroll-dot" [class.active]="isCurrentSection('section5')">
            <span class="section-indicator">Contacto</span>
        </a>
    </nav> Navegación por puntos -->
</div>


