<body>
    <div class="overlay"></div>

    
<div class="products-container">
 
    <main class="products-main">

        <aside class="products-sidebar">
            <button class="filter-button">STOCK</button>
            <div class="filter-section">
                <h3 class="filter-title">{{getText('Lista de Productos','Products List')}}</h3>
               <ul>
                <li>
                    <a href="#all" (click)="filterProducts('all')">{{getText('Todos', 'All')}}</a>
                </li>
               </ul>
                <div class="filter-options mt-3">
                    <div>
                        <ul>
                            <h3>{{getText('Maquinas','Machines')}}</h3>
                            <li routerLinkActive="active">
                                <a href="#clippers" (click)="filterProducts('clippers')">{{getText('Clipper', 'Clipper')}}</a>
                            </li>
                            <li routerLinkActive="active" >
                                <a href="#trimmer" (click)="filterProducts('trimmer')">{{getText('Trimmer', 'Trimmer')}}</a>
                            </li>
                            <li routerLinkActive="active">
                                <a href="#x" (click)="filterProducts('maquinas')">{{getText('Todos', 'All')}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h3>{{getText('Cosmeticos','Cosmetics')}}</h3>
                            <li routerLinkActive="active">
                                <a href="#cosmeticos" (click)="filterProducts('cosmeticos')">{{getText('Cosméticos', 'Cosmeticos')}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h3>{{getText('Mobiliario','Furniture')}}</h3>
                            <li routerLinkActive="active">
                                <a href="#mobiliario" (click)="filterProducts('mobiliario')">{{getText('Mobiliario', 'Furniture')}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h3>{{getText('Tijeras','Scissors')}}</h3>
                            <li routerLinkActive="active">
                                <a href="#tijeras" (click)="filterProducts('tijeras')">{{getText('Tijeras', 'Scissors')}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h3>{{getText('Capas','Layers')}}</h3>
                            <li routerLinkActive="active">
                                <a href="#capas" (click)="filterProducts('capas')">{{getText('Capas', 'Layers')}}</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <h3>{{getText('Accesorios','Accesories')}}</h3>
                            <li routerLinkActive="active">
                                <a href="#accesorios" (click)="filterProducts('accesorios')">{{getText('Accesorios', 'Accesories')}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

        <!-- Main Content -->  
        <section class="products-content">
            
        @if (message) {
            <div class="alert">
                {{ message }}
              </div>
          }@else if(messageTrue){
            <div class="alert">
             {{ messageTrue }}
            </div>
          }
          @if (messageFavorite) {
            <div class="alert">
                {{ messageFavorite }}
              </div>
          }@else if(messageNoFavorite){
            <div class="alert">
             {{ messageNoFavorite }}
            </div>
          }
          @if (messageNoUserDisplay) {
            <div class="alert">
              {{ messageNoUserDisplay }}
            </div>
          }
  
          <div class="products-grid">
            @for (product of filteredProducts; track product.id) {
              <div class="product-card">
                
                <button class="favorite-button" (click)="favorite(product)">
                  @if (isUser) {
                    @if (!product.isFavorite) {
                      <img src="../../../../images/favorito.png" class="fav-icon" alt="Añadir a favoritos">
                    } @else {
                      <img src="../../../../images/favorito_pulse.png" class="fav-icon" alt="Añadir a favoritos">
                    }
                  } @else {
                    <img src="../../../../images/favorito.png" class="fav-icon" alt="Añadir a favoritos">
                  }
                </button>
                <img [src]="product.image" [alt]="product.name" class="product-image">
                <h3 class="product-name">{{ product.name }}</h3>
                <p class="product-price">{{ product.price + ' €' }}</p>
                
                <button class="add-to-cart" (click)="productInCart(product)" >
                  <div class="botones_cart">
                  @if (isUser) {
                    @if (!product.insidecart) {
                        
                      <button class="añadir_carrito" (click)="addToCart(product)" > <h3 ><img src="../../../../images/add_cart.gif" class="add-carrito" alt="Añadir al carrito" >{{getText('Añadir al carrito','Add to Cart')}} </h3></button>
                    } @else {
                      <button class="añadir_carrito" (click)="addToCart(product)" >     <h3 ><img src="../../../../images/tick.gif" class="add-carrito" alt="Añadido al carrito" >{{getText('Añadido al carrito','Added to Cart')}}</h3></button>
                    }
                  } @else {
                    <button class="añadir_carrito" (click)="showNoUserMessage()" > <h3 ><img src="../../../../images/add_cart.gif" class="add-carrito" alt="Añadir al carrito" >{{getText('Añadir al carrito','Add to Cart')}}</h3></button>
                  }
                </div>
                </button>
  
              </div>
            } @empty {
              <p>No hay productos en esta categoría.</p>
            }
          </div>
        </section>
    </main>
</div>

</body>
<app-footer></app-footer>