.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}

.carousel .carousel-inner,
.carousel .carousel-item {
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0; /* Aseguramos que la imagen comience desde arriba */
}

.carousel-fade .carousel-item {
    transition: opacity 1.5s ease-in-out;
}


.carousel-control-prev,
.carousel-control-next {
    background: none;
    border: none;
    font-size: 4rem; /* Aumentar tamaño de las flechas */
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    transform: scale(1.2); /* Efecto de aumento al pasar el ratón */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: inherit; /* Mantiene el tamaño de la flecha */
}