<section class="jumbotron-section">
<div id="jumbotron" class="container-fluid">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="../../../../images/sillabarbero.jpg" class="img-fluid" alt="Silla de barbero">
        </div>
        <div class="col-lg-6 col-md-4 mt-5">
            <div class="text-content">
                <h2 class="text-center">
                    {{getText('ASESORAMIENTO Y TRATO PERSONALIZADO','ADVICE AND PERSONALIZED TREATMENT')}}  
                </h2>
                <div class="decorative-line"></div>
                <p class="text-center">
                    {{getText('En nuestra barbería, nos dedicamos al cuidado de tu piel y barba, ofreciéndote una experiencia única desde el primer momento. Queremos que te sientas cómodo, disfrutes de nuestro servicio y vivas la auténtica Barber Experience ','In our barbershop, we are dedicated to taking care of your skin and beard, offering you a unique experience from the first moment. We want you to feel comfortable, enjoy our service and live the authentic Barber Experience.')}}    
                </p>
                <p class="text-center">
                    {{getText('Reserva tu cita de manera rápida y sencilla en el centro más cercano y déjate atender por nuestros barberos y peluqueros especializados. Utilizamos productos de alta calidad para cuidar tu imagen como te mereces.  ','Book your appointment quickly and easily at the nearest center and let yourself be attended by our specialized barbers and hairdressers. We use high-quality products to take care of your image as you deserve.')}}
                                  </p>
                <p class="text-center history-text">
                  {{getText('Desde 2010 ayudamos a hombres como tú a verse y sentirse mejor. ¿Te animas a conocernos?', 'Since 2010, we\'ve been helping men like you look and feel their best. Want to get to know us?')}}  
                </p>
                  
                <div class="text-center">
                    <a href="#"  routerLink="/about-us"class="btn-custom">{{getText('Conocenos Mejor','Know us Better')}} </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
