<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="../../../../images/sillabarbero.jpg" class="img-fluid" alt="Silla de barbero">
        </div>
        <div class="col-lg-6 ">
            <div class="text-content">
                <h2 class="text-center">
                    ASESORAMIENTO Y TRATO PERSONALIZADO
                </h2>
                <div class="decorative-line"></div>
                <p class="text-center">
                    En nuestra barbería, nos dedicamos al cuidado de tu piel y barba, ofreciéndote una experiencia única desde el primer momento. Queremos que te sientas cómodo, disfrutes de nuestro servicio y vivas la auténtica <strong>Barber Experience.</strong>  </p>
                <p class="text-center">
                    Reserva tu cita de manera rápida y sencilla en el centro más cercano y déjate atender por nuestros barberos y peluqueros especializados. Utilizamos productos de alta calidad para cuidar tu imagen como te mereces.                </p>
                <p class="text-center history-text">
                    Desde 2010, ayudamos a hombres como tú a verse y sentirse mejor. ¿Te animas a conocernos?
                </p>
                <div class="text-center">
                    <a href="#" class="btn-custom">Conócenos Mejor</a>
                </div>
            </div>
        </div>
    </div>
</div>

