<div class="overlay"></div>

<div class="container mt-5 mb-5">
    <h2 class="title mb-4">{{ getText('Valoraciones Creadas por Usuarios', 'Ratings By Users') }}</h2>

    @if (isLoading) {
    <div class="loading">
        <div class="spinner"></div>
    </div>
    } @else {
    @if (valoraciones.length === 0) {
    <div class="valoraciones-vacio mb-5">
        <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">
        <h3>{{ getText('No se encontraron ninguna reserva valorada realizada por el usuario.', 'No rated reservations
            made by the user were found.') }}</h3>
    </div>
    } @else {
    <div class="valoraciones-container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @for (valoracion of valoraciones; track valoracion.id) {
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card h-100">
                    <div class="card-header">
                        <!--  <h5 class="card-title">
                                        <i class="bi bi-person"></i> 
                                        <strong>{{ getText('Usuario ID', 'User ID') }}:</strong> 
                                        <span class="id-value">{{ valoracion.usuario_id || 'N/A' }}</span>
                                        <i class="bi bi-eye" (click)="openUserModal(valoracion.usuario_id)" style="cursor:pointer"></i>
                                    </h5>-->
                        <p class="card-text">
                            <i class="bi bi-calendar"></i>
                            <strong>{{ getText(' Fecha  Valoración', 'Rating Date' ) }}:</strong>
                            <span class="date-value"> {{ valoracion.fecha || 'N/A' }}</span>
                        </p>

                    </div>
                    <div class="card-content mt-3">
                        <h5 class="card-title">
                            <div class="info-line">
                                <i class="bi bi-person"></i>
                                <strong>{{ getText('Usuario ID', 'User ID') }}:</strong>
                                <span class="id-value">{{ valoracion.usuario_id || 'N/A' }}</span>
                                <i class="bi bi-eye eye-icon" (click)="openUserModal(valoracion.usuario_id)"></i>
                            </div>
                            <div class="info-line">
                                <i class="bi bi-calendar-check"></i>
                                <strong>{{ getText('Reserva ID', 'Reservation ID') }}:</strong>
                                <span class="id-value">{{ valoracion.reserva_id || 'N/A' }}</span>
                                <i class="bi bi-eye eye-icon" (click)="openReservaModal(valoracion.reserva_id)"></i>
                            </div>
                        </h5>

                        <div class="card-body">
                            <p class="comentario">
                                <i class="bi bi-chat-dots"></i>
                                <strong>{{ getText('Comentario', 'Comment') }}:</strong>
                                <span class="comment-value">{{ valoracion.comentario || 'N/A' }}</span>
                            </p>
                            <p class="valoracion">
                                <i class="bi bi-star"></i>
                                <strong>{{ getText('Valoración Servicio', 'Service Rating') }}:</strong>
                                <span class="stars">{{ getStars(valoracion.servicioRating) }}</span>
                            </p>
                            <p class="valoracion">
                                <i class="bi bi-person-check"></i>
                                <strong>{{ getText('Valoración Peluquero', 'Barber Rating') }}:</strong>
                                <span class="stars">{{ getStars(valoracion.peluqueroRating) }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
    }
</div>

<app-footer></app-footer>

<app-modal-user [show]="showUserModal" [id]="selectedUserId" (close)="closeUserModal()">
</app-modal-user>

<app-modal-show-reserve [show]="showReservaModal" [id]="selectedReserveId" (close)="closeReservaModal()">
</app-modal-show-reserve>