    <div class="overlay"></div>
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary d-flex align-items-center gap-2" routerLink="/crearAlumno">
                <i class="bi bi-calendar-plus"></i>
                <span>{{ getText('Crear Cliente', 'Make Client') }}</span>
            </button>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-4">
            <h2 class="mb-4">{{getText('Clientes Disponibles','Available Clients')}} </h2>
        </div>

        <!-- Mostrar estado de carga -->
        @if (isLoading) {
            <div class="loading">
                <div class="spinner"></div>
              </div>
        }

        @else if (usuario.length > 0) {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                @for (user of usuario; track user.id) {
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card h-100">
                            <img src=" ../../../../images/usuario.png" class="card-img-top" alt="Foto de {{ user.nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.nombre }}</h5>
                                <p class="card-text">Email: {{ user.email }}</p>
                                <p class="card-text">Teléfono: {{ user.telefono }}</p>
                            </div>
                            <div class="card-footer">
                        <button class="btn btn-danger" (click)="deleteClient(user.id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        } @else {
            <div class="alert alert-warning text-center p-4 shadow-sm">
                <i class="bi bi-exclamation-circle-fill fs-4"></i>
                <p class="mt-2 mb-0">No hay alumnos disponibles en este momento.</p>
            </div>
        }
    </div>
    <app-footer></app-footer>