<div class="overlay"></div>


<div class="container mt-5 mb-5">
    <!-- Mostrar estado de carga -->
    @if (isLoading) {
        <div class="loading">
            <div class="spinner"></div>
        </div>
    } @else if (compras.length === 0) {
        <div class="compras-vacio mb-5">
          <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">
          <h3>{{ getText('No se encontraron compras realizadas por el usuario.', 'No purchases made by the user were found.') }}</h3>
        </div>
      }
      @else if (compras.length > 0) {
            <div class="d-flex  mb-4">
                <h2 class="title mb-4">{{ getText('Productos Comprados Por Usuarios', 'Bought Products By Users') }}</h2>
            </div>
        
            <div class="productos-container">

                <div class="productos-list">
                    @for (compra of compras; track compra.id) {
                        @if (compra.detalles && compra.detalles.length > 0) {
                        <div class="compras mt-5">
                            <h5 class="comprado_por mt-5"> {{ getText('Compra Realizada por  ', 'Purchase Made by ') }} {{ compra.usuario?.nombre }} {{ compra.usuario?.apellidos }} </h5>
                                <p class="fecha">{{ getText('Fecha de la compra:', 'Purchase date:') }} {{ compra.fecha }}</p>
            
                                <table class="products-table">
                                  <thead>
                                    <tr>
                                      <th>{{ getText('Producto', 'Product') }}</th>
                                      <th>{{ getText('Cantidad', 'Amount') }}</th>
                                      <th>{{ getText('Precio Unitario', 'Unit Price') }}</th>
                                      <th>{{ getText('Total', 'Total') }}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    @for (detalle of compra.detalles; track detalle) {
                                      <tr>
                                        <td>{{ detalle.nombre }}</td>
                                        <td>{{ detalle.cantidad }}</td>
                                        <td>{{ detalle.precioUnitario + ' €' }}</td>
                                        <td>{{ detalle.total + ' €' }}</td>
                                      </tr>
                                    }
                                  </tbody>
                                </table>
                  
                                <div class="compra-total">
                                  @if (calcularDescuento(compra.total) > 0) {
                                    <div>  <strong>{{ getText('Total de la Compra', 'Purchase Total') }}:</strong>
                                      {{ compra.total + ' €' }}</div>
                                    <div>
                                      <strong>{{ getText('Descuento Aplicado', 'Applied Discount') }}:</strong>
                                      - {{ calcularDescuento(compra.total).toFixed(2) + ' €' }}
                                    </div>
                                    <div>
                                      <strong>{{ getText('Total con Descuento', 'Total with Discount') }}:</strong>
                                      {{ (compra.total - calcularDescuento(compra.total)).toFixed(2) + ' €' }}
                                    </div>
                                  }@else {
                                    <div>  <strong>{{ getText('Total de la Compra', 'Purchase Total') }}:</strong>
                                      {{ compra.precio + ' €' }}</div>
                                    
                                  }
                            <div>
                            
                            </div>
                            <div>
                              
                            </div>
                          </div>
                        </div>
                        
                      }
                    }
                  </div>
                </div>

            }
</div>

<app-footer></app-footer>