@if (show) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h2>{{ isReservePast({ id: 0, servicio: servicio, peluquero: peluquero, precio: '0', dia: fecha ?? '', hora: hora, usuario_id: usuario ?? 0, valoracion: null }) ? getText('Borrar Reserva', 'Delete Reserve') : getText('Anular Reserva', 'Cancel Reserve') }}</h2>
      <div class="modal-body">
        @if (!isReservePast({ id: 0, servicio: servicio, peluquero: peluquero, precio: '0', dia: fecha ?? '', hora: hora, usuario_id: usuario ?? 0, valoracion: null })) {
          <h5>{{ getText('¿Estás seguro que deseas anular esta reserva?', 'Are you sure you want to cancel this reservation?') }}</h5>
        }
        <div class="reservation-details">
          <p><strong>{{ getText('Peluquero:', 'Barber:') }}</strong> {{ peluquero }}</p>
          <p><strong>{{ getText('Servicio:', 'Service:') }}</strong> {{ servicio }}</p>
          <p><strong>{{ getText('Fecha:', 'Date:') }}</strong> {{ fecha }}</p>
          <p><strong>{{ getText('Hora:', 'Hour:') }}</strong> {{ hora }}</p>
        </div>
      </div>
      <div class="modal-actions">
        <button class="btn-confirm" (click)="onCancel()">{{ getText('Cancelar', 'Cancel') }}</button>
        <button class="btn-cancel" (click)="onConfirm()">
          {{ isProcessing ? getText('Procesando...', 'Processing...') : (isReservePast({ id: 0, servicio: servicio, peluquero: peluquero, precio: '0', dia: fecha ?? '', hora: hora, usuario_id: usuario ?? 0, valoracion: null }) ? getText('Borrar', 'Delete') : getText('Anular', 'Cancel')) }}
        </button>
      </div>
    </div>
  </div>
}