<body>
    <div class="overlay"></div>
    @if (usuario) {
      <div class="profile-container">
      
    
        <div class="profile-content">
          <div class="profile-section">
            <h2>{{ getText('Información Personal', 'Personal Information') }}</h2>
            <div class="info-group">
              <label>{{ getText('Nombre', 'Name') }}:</label>
              <p>{{ usuario.nombre }}</p>
            </div>
            <div class="info-group">
              <label>{{ getText('Apellidos', 'Last Name') }}:</label>
              <p>{{ usuario.apellidos }}</p>
            </div>
            <div class="info-group">
              <label>{{ getText('Email', 'Email') }}:</label>
              <p>{{ usuario.email }}</p>
            </div>
            <div class="info-group">
              <label>{{ getText('Teléfono', 'Phone') }}:</label>
              <p>{{ usuario.telefono }}</p>
            </div>
            <div class="info-group">
              <label>{{ getText('Rol', 'Rol') }}:</label>
              <p>{{ usuario.rol }}</p>
            </div>
            <div class="info-group position-relative">
              <label>{{ getText('Contraseña', 'Password') }}:</label>
              <p style="margin-right: 30px;">
                {{ showPassword ? usuario.password : '*'.repeat(usuario.password.length) }}
                <span
                class="position-absolute end-0 translate-middle-y me-3   "
                style="top: 70%;cursor: pointer; color: #6c757d;"
                (click)="togglePasswordVisibility('password')"
                role="button"
              >
                <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
              </span>
              </p>
            </div>
            
          </div>
          <div class="buttons">
            <button class="edit-button" (click)="editarPerfil()">
              {{ getText('Editar Perfil', 'Edit Profile') }}
            </button>
            <button class="logout-button" (click)="cerrarSesion()">
              {{ getText('Cerrar Sesión', 'Logout') }}
            </button>
          </div>
        </div>
        
      </div>
      
    } @else {
      <div class="alert-info">
        <i class="fas fa-user-lock"></i>
        <h2>{{ getText('No has iniciado sesión', 'You are not logged in') }}</h2>
        <button class="alert-btn" (click)="openLoginModal()">
          {{ getText('Iniciar Sesión', 'Login') }}
        </button>
      </div>
    }
    
    <app-footer></app-footer>
    @if (showLoginModal) {
      <app-modal-login (closeModal)="showLoginModal = false"></app-modal-login>
    }
  </body>