<div class="overlay"></div>
<div class="profile-container">
    @if (userData) {
        <div class="profile-card">
            <div class="profile-header">
                <h2>Mi Perfil</h2>
            </div>

            <div class="profile-info">
                <div class="info-group">
                    <label>Nombre completo</label>
                    <p>{{ userData.nombre }} {{ userData.apellidos }}</p>
                </div>

                <div class="info-group">
                    <label>Correo electrónico</label>
                    <p>{{ userData.email }}</p>
                </div>

                <div class="info-group">
                    <label>Teléfono</label>
                    <p>{{ userData.telefono }}</p>
                </div>

            </div>

            <div class="profile-actions">
                <button class="btn btn-primary animated-button" routerLink="/editProfile">
                    <i class="bi bi-pencil-square me-2"></i>Editar perfil
                </button>
            </div>
        </div>
    } @else {
        <div class="no-profile">
            <p>No hay datos de usuario disponibles.</p>
            <button class="btn btn-primary" routerLink="/signIn">Iniciar Sesión</button>
        </div>
    }
</div>
