<body>
    
<div class="overlay"></div>
<div class="profile-container">
    @if (usuario) {
        <div class="profile-card">
            <div class="profile-header">
                <h2>Mi Perfil</h2>
            </div>

            <div class="profile-info">
                <div class="info-group">
                    <label>Nombre completo</label>
                    <p>{{ usuario.nombre }} {{ usuario.apellidos }}</p>
                </div>

                <div class="info-group">
                    <label>Correo electrónico</label>
                    <p>{{ usuario.email }}</p>
                </div>

                <div class="info-group">
                    <label>Teléfono</label>
                    <p>{{ usuario.telefono }}</p>
                </div>

            </div>

            <div class="profile-actions">
                <button class="btn btn-primary animated-button" routerLink="/editProfile">
                    <i class="bi bi-pencil-square me-2"></i>Editar perfil
                </button>
            </div>
        </div>
    } @else {
        <div class="alert-info">
            <i class="bi bi-exclamation-circle-fill"></i>
            <h2>{{ getText('No se encontraron datos del usuario.', 'You must be registered to book an appointment.') }}</h2>
            <button class="alert-btn" (click)="openLoginModal()">{{ getText('Iniciar Sesión', 'Login') }}</button>
          </div>
        }
    </div>
</body>
<app-modal-login [show]="showLoginModal" (close)="showLoginModal = false"></app-modal-login>
<app-footer></app-footer>