@if(show){
<div class="container-fluid">
    <div class="modal-content">
        <button type="button" class="close" (click)="onClose()">
            <i class="bi bi-x"></i>
        </button>

        <h2>{{ getText('Detalles de la Reserva', 'Reservation Details') }}</h2>

        <div class="modal-body">
            <!-- Día y Hora (como Nombre y Apellido) -->
            <div class="form-group responsive-name">
                <label class="label-nombre">{{ getText('Fecha:', 'Date:') }}</label>
                <div class="name-inputs">
                    <input type="text" [value]="dia" readonly>
                    <input type="text" [value]="hora" readonly>
                </div>
            </div>

            <!-- Servicio -->
            <div class="form-group">
                <label>{{ getText('Servicio:', 'Service:') }}</label>
                <input type="text" [value]="servicio" readonly>
            </div>

            <!-- Peluquero -->
            <div class="form-group">
                <label>{{ getText('Peluquero:', 'Barber:') }}</label>
                <input type="text" [value]="peluquero" readonly>
            </div>

            <!-- Precio -->
            <div class="form-group">
                <label>{{ getText('Precio:', 'Price:') }}</label>
                <input type="number" [value]="precio"  readonly> 
            </div>
        </div>
    </div>
</div>
}