@if(show){
<div class="container-fluid">
    <div class="modal-content">
        <button type="button" class="close" (click)="onClose()">
            <i class="bi bi-x"></i>
        </button>

        <h2>{{ getText('Detalles de la Reserva', 'Reservation Details') }}</h2>

        @if(isLoading) {
        <div class="loading">
            <div class="spinner"></div>
            <p>{{ getText('Cargando datos...', 'Loading data...') }}</p>
        </div>
        }@else{
        <div class="modal-body">
            <!-- Día y Hora (como Nombre y Apellido) -->
            <div class="form-group responsive-name">
                <label class="label-nombre">{{ getText('Fecha:', 'Date:') }}</label>
                <div class="name-inputs">
                    <input type="text" [value]="dia" readonly>
                    <input type="text" [value]="hora" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>{{ getText('Peluquero:', 'Barber:') }}</label>
                <input type="text" [value]="peluquero" readonly>
            </div>
            <div class="form-group-row">
                <div class="form-group">
                    <label>{{ getText('Servicio:', 'Service:') }}</label>
                    <input type="text" [value]="servicio" readonly>
                </div>
                <div class="form-group">
                    <label>{{ getText('Precio:', 'Price:') }}</label>
                    <div style="position: relative; display: inline-block;">
                        <input type="number" [value]="precio" readonly style="padding-left: 20px;">
                        <span
                            style="position: absolute; left: 40px; top: 50%; transform: translateY(-50%); color: #000000;">€</span>

                    </div>
                </div>
            </div>

        </div>
        }
    </div>
</div>
}