<div class="overlay"></div>
@if (message) {
  <div class="alert-message">
    {{ message }}
  </div>
  } @else if (messageTrue) {
  <div class="alert-message">
    {{ messageTrue }}
  </div>
  }
  
@if (isLoading) {
  <div class="loading-message">
    <p>{{ getText('Cargando favoritos...', 'Loading favorites...') }}</p>
  </div>
}@else if (productos.length === 0) {
  <div class="favorito-vacio">
    <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">

    <h3> {{ getText('No tienes productos favoritos.','You have no favorite products.') }} </h3>

    <p> {{getText('Echa un vistazo a la selección que tenemos para ti.','Take a look at the selection we have for
      you.')}} </p>
    <button class="btn-volver" routerLink="/products">

      {{getText( 'Ir a productos','Go to products')}}

    </button>
  </div>
  }
<div class="favorite-container">
  <section class="products-content">
    <div class="products-grid">

      @if(productos.length > 0) {
      @for (product of productos; track product.id) {
      <div class="product-card">
        <button class="eliminar" (click)="eliminarproduct(product)" aria-label="Eliminar producto">
          <i class="bi bi-trash"></i>
        </button>
        <button class="favorite-button">
          <img src="../../../../images/favorito_pulse.png" class="fav-icon" alt="Favorito">
        </button>

        <img [src]="product.image" [alt]="product.name" class="product-image">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">{{ product.price + ' €' }}</p>

        <button class="añadir_carrito" (click)="addToCart(product)" (click)="eliminarproduct(product)">
          <h3>
            <img src="../../../../images/add_cart.gif" class="add-carrito" alt="Añadir al carrito">
            {{getText('Añadir al carrito','Add to Cart')}}
          </h3>
        </button>

      </div>

      }
      } 
    </div>
  </section>
</div>

<app-footer></app-footer>