<body>
    <div class="overlay"></div>
    @if(isUser){
    <div class="carrito-container mb-5">
        <div class="favorites">
            <h2 class="show-favoritos mb-5" routerLink="/favorites"><i class="bi bi-heart"></i> {{ getText('Favoritos',
                'Favorites') }}</h2>
        </div>
        @if (messageNoCart) {
            <div class="alert">
              {{ messageNoCart }}
            </div>
          } @else if (messageNoUserDisplay) {
            <div class="alert">
              {{ messageNoUserDisplay }}
            </div>
          }
        @if(productos.length > 0){
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <table class="carrito-tabla">
                    <thead>
                        <tr>
                            <th>{{getText('Producto','Products')}} </th>
                            <th>{{getText('Precio','Price')}} </th>
                            <th>{{getText('Cantidad','Amount')}} </th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="carrito-body">
                     
                        @for (product of productos; track product.id) {
                        <tr>

                            <td class="producto" data-label="Producto">
                                <button class="eliminar"(click)="eliminarproduct(product)"
                                    aria-label="Eliminar producto">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <img [src]="product.image" [alt]="product.name" class="product-image">
                                <p class="product-name">{{product.name}}</p>

                            </td>
                            <td class="price" data-label="Precio">
                                <p>{{ product.price }} €</p>
                            </td>
                            <td class="cantidad" data-label="Cantidad">
                                <input type="number" min="1" [value]="product.cantidad"
                                    (input)="actualizarCantidad(product, $event.target)"
                                    (blur)="validarCantidad(product, $event.target)">
                            </td>
                            <td class="subtotal" data-label="Subtotal">
                                <p>{{ (product.price * product.cantidad).toFixed(2) }} €</p>
                            </td>
                            <td data-label="Acciones">
                                <div class="acciones">
                                    <button class="favoritos-btn" (click)="addToFavorites(product)">
                                        <i class="bi bi-heart"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mt-5">
                <div class="resumen-carrito">
                    <h2>{{getText('Cesta', 'Cart')}} ({{productos.length}})</h2>
                    @if(faltaParaDescuento > 0) {
                    <p class="falta-descuento">
                        {{getText('Te faltan ' + faltaParaDescuento.toFixed(2) + ' € para conseguir un descuento del
                        5%', 'You are ' + faltaParaDescuento.toFixed(2) + ' € away from a 5% discount')}}
                    </p>
                    }
                    <br>
                    <div class="resumen-total">
                        <p>Subtotal</p>
                        <span>{{this.total.toFixed(2)}} €</span>
                    </div>

                    <div class="resumen-descuento mt-2">
                        <p>Descuento</p>
                        <span>- {{this.descuento.toFixed(2)}} €</span>
                    </div>

                    <br>
                    <div class="resumen-total">
                        <p>Total </p>
                        <span id="total">{{this.totalConDescuento.toFixed(2)}} €</span>
                    </div>
                    <button id="finalizar-compra" (click)="onReserve()">Tramitar Pedido</button>
                </div>
            </div>
        </div>
        } @else{
   
            <div class="carrito-vacio">
                  <img src="../../../../images/disappointed.png" class="fav-icon" alt="Favorito vacío">
                    <h3>{{ getText('Tu carrito está vacío.', 'Your cart is
                        empty') }}
                    </h3>
                    <p> Echa un vistazo a la selección que tenemos para ti.</p>
                    <button class="btn-volver mt-5" routerLink="/products">
            
                      Ir a productos
            
                    </button>
            </div>
        }
    </div>
    }@else{
    <div class="alert-warning">
        <i class="bi bi-exclamation-circle-fill"></i>
        <h2>{{ getText('Debes iniciar sesión para ver tu carrito', 'You must be registered to look your cart.') }}</h2>
        <button class="alert-btn mt-3" (click)="openLoginModal()">{{ getText('Iniciar Sesión', 'Login') }}</button>
    </div>
    }

</body>
<app-modal-login [show]="showLoginModal" (close)="showLoginModal = false"></app-modal-login>

<app-modal-compra [show]="showModal" [producto]="nombresProductos()" [precio]="precioProductos()"
    [descuento]="this.descuento.toFixed(2) + ' €'" [total]="this.totalConDescuento.toFixed(2) + ' €'"
    (confirm)="onConfirmReserve()" (cancel)="onCancelReserve()">
</app-modal-compra>
<app-footer></app-footer>