<div class="overlay"></div>
<div class="carrito-container mt-5 mb-5">
    @if(productos.length > 0){ 
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <table class="carrito-tabla">
                <thead>
                    <tr>
                        <th>{{getText('Producto','Products')}} </th>
                        <th>{{getText('Precio','Price')}} </th>
                        <th>{{getText('Cantidad','Amount')}} </th>
                        <th>Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="carrito-body">
                  
                    @for (product of productos; track product.id) {
                        <tr>
                            <td class="producto" data-label="Producto">
                                    <div class="service-card"
                                    [class.selected]="selectedName === product.name">
                                    <img [src]="product.image" [alt]="product.name" class="product-image">
                                    <h3 class="product-name" >{{product.name}}</h3>
                                </div>
                            </td>
                            <td class="price" data-label="Precio">
                                <p>{{ product.price }} €</p>
                            </td>
                            <td class="cantidad" data-label="Cantidad">
                                <input type="number" min="1" [value]="product?.cantidad" (input)="actualizarCantidad(product, $any($event.target).valueAsNumber)">
                            </td>   
                            <td class="subtotal" data-label="Subtotal">
                                <p>{{ product.price * product.cantidad }} €</p>
                            </td>
                            <td data-label="Eliminar">
                                <button class="eliminar" (click)="eliminarproduct(product)">
                                    <img src="../../../../images/papelera.png" alt="">
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 mt-5">
            
         
            <div class="resumen-carrito">
              
                <h2>Total del carrito</h2>
                <p>Total: <span id="total"> {{this.subtotal}} </span> €</p>
                <button id="finalizar-compra"   (click)="onReserve()">Finalizar compra</button>
         
        </div>
        </div>
    </div>
    } @else{
        <table class="carrito-tabla">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
              
            <div class=" alert-warning text-center p-4 ">
                <i class="bi bi-exclamation-circle-fill fs-4"></i>
                <h2 class="titulo mt-3">{{ getText('No hay ningun producto en el carrito.', 'There are no items in the cart.') }}</h2>
                <button class="alert-login mt-3" routerLink="/products">{{getText('Ver productos','Show products')}}</button>
            </div>
        </table>
        
       
     } 
</div>
<app-modal-compra
[show]="showModal"
[producto]="nombresProductos()"
[precio]= "precioProductos()"
[total] = this.subtotal
(confirm)="onConfirmReserve()"
(cancel)="onCancelReserve()">
</app-modal-compra>
<app-footer></app-footer>