<div class="overlay"></div>

<!-- Verifica si el usuario está autenticado -->
@if (isUser) {
  
    <div class="reserve-container">
        <div class="services-section">
            <h2>{{ getText('Servicios Disponibles', 'Available Services') }}</h2>
            <div class="services-grid">
                @for (service of services; track service.nombre || service.name) {
                    <div class="service-card"
                        [class.selected]="selectedService === service.nombre || selectedServicio === service.name "
                  (click)="selectedService = service.nombre || selectedServicio = service.name">
                        <h3>{{ getText(service.nombre, service.name) }}</h3>
                        <p class="price">{{ service.price }}</p>
                    </div>
                }
                
            </div>
        </div>
           <br>
        <div class="barber-container">
            <!-- Sección de Peluqueros -->
            <div class="barber-section">
                <h2>{{getText('Peluqueros Disponibles','Available Barbers ')}} </h2>
                <div class="barber-grid">
                    @for ( barber of babers; track barber.name) {
                        <div class="barber-card"
                        [class.selected]="selectedBarber === barber.name"
                        (click)="onSelectBarber(barber.name)">
                        <img [src]="barber.imagen" class="img-fluid rounded-circle" [alt]="barber.name">
                        <h3>{{ barber.name }}</h3>
                        <p>{{getText(barber.descripcion,barber.description)}} </p>
                    </div>
                    }
                       </div>
                  </div>
             </div>

        <!-- Calendario -->
        <div class="calendar-section">
            <div class="calendar-header">
                <button (click)="previousMonth()">&lt;</button>
                <h2>{{ currentDate | date:'MMMM yyyy' }}</h2>
                <button (click)="nextMonth()">&gt;</button>
            </div>

            <div class="calendar-grid">
                <!-- Días de la semana -->
                @for ( day of [ getText('Lu', 'Mo'), getText('Ma', 'Tu') , getText('Mi','We'), getText('Ju','Th') , getText('Vi','Fr'), 'Sa', getText('Do','Su')]; track day) {
                    <div class="weekday">{{ day }}</div>
                }

                <!-- Días del mes -->
                @for ( date of getDaysInMonth(currentDate.getMonth(), currentDate.getFullYear()); track $index) {
                    @if (date === null) {
                        <div class="calendar-day empty"></div>
                    } @else {
                        <div class="calendar-day"
                            [class.selected]="selectedDate && date && selectedDate.getTime() === date.getTime()"
                            [class.disabled]="!isAvailable(date)"
                            (click)="isAvailable(date) && selectDate(date)">
                            {{ date.getDate() }}
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Horas Disponibles -->
        @if (selectedDate && selectedService && selectedBarber) {
            <div class="time-slots-section">
                <h3>{{getText('Horarios Disponibles para el ','Available Schedules for')}} {{ selectedDate | date:'EEEE d MMMM yyyy' }}</h3>
                

                <div class="time-slots-grid">
                    @for ( time of availableHours; track time) {
                        <button class="time-slot"
                                [class.selected]="selectedTime === time"
                                (click)="selectedTime = time">
                           {{ time }}
                        </button>
                    }
                </div>
            </div>
        }

        <!-- Botón de Reserva -->
        <button class="reserve-button" 
                [disabled]="!selectedDate ||!selectedService || !selectedTime  || !selectedBarber"
                (click)="onReserve()">
        {{getText(' Reservar Cita','Reserve Quote')}}
        </button>
    </div>

    <app-modal
        [show]="showModal"
        [servicio]="selectedService"
        [service]="selectedService"
        [fecha]="selectedDate ? (selectedDate | date:'d MMMM yyyy') : ''"
        [hora]="selectedTime"
        [peluquero]="selectedBarber"
        (confirm)="onConfirmReserve()"
        (cancel)="onCancelReserve()">
    </app-modal>
} @else {
    <!-- Mensaje para usuarios no registrados -->
    <div class="alert alert-warning text-center p-4 shadow-sm">
        <i class="bi bi-exclamation-circle-fill fs-4"></i>
        <h2 class="titulo mt-3">Debes estar registrado para reservar una cita.</h2>
        <button class="alert-login mt-3" (click)="openLoginModal()">Iniciar Sesión</button>
    </div>
}

<app-modal-login
    [show]="showLoginModal"
    (close)="showLoginModal = false">
</app-modal-login>
<app-footer></app-footer>