  <!-- Chat Toggle Button -->
  <button class="chat-toggle" (click)="toggleChat()" >
  <img src="../../../../images/asistente_IA.png" alt="" style="width: 40px; height: 40px; ">
  </button>

  <!-- Chat Window -->
  <div class="chatbot" [class.open]="isOpen">
    <div class="chat-header">
      <div class="chat-title">
        <h3>Asistente Virtual</h3>
      </div>
      <button class="close-button" (click)="toggleChat()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>

    <div class="chat-messages" #chatMessages>
      @for (message of messages; track message) {
        <div [class]="'message ' + message.sender">
          <span class="avatar" [ngClass]="message.sender"> <img src="../../../../images/asistente_IA.png" alt="" style="width: 20px; height: 20px; ">
  </span>
          <div class="message-content">
            {{ message.text }}
          </div>
        </div>
      }
      @if (isLoading) {
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      }
    </div>

    <div class="chat-input">
      <input type="text" 
            [(ngModel)]="userInput" 
            placeholder= "Escribe tu mensaje..." 
            (keyup.enter)="sendMessage()">
      <button (click)="sendMessage()" [disabled]="isLoading">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
      </button>
    </div>
  </div>
